---
import BaseLayout from './BaseLayout.astro';
const { title, section = 'oldweb' } = Astro.props;
---
<BaseLayout title={title} section={section}>
  <div class="container page-pad">
    <slot />
  </div>
</BaseLayout>
